
body
{
    background-size: cover;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
  ;
}

.Note
{
    font-size: 15px;
    color: black;
}

canvas{
    border: 5px solid rgb(0, 0, 73);
    border-radius: 25px;
}


